{% extends 'news/base.html' %}
{% load tz %}
{% block content %}

    <div class="container m-3 border border-primary p-3">
        <div class="row">
            <form class="form-inline" method=POST action="{% url 'home' %}">
                {% csrf_token %}
                <div class="col-md-3">
                    <input class="form-control mr-sm-2" type="search" placeholder="Keyword" name="keyword">
                </div>
                <div class="col-md-3">
                    <select class="custom-select my-1 mr-sm-2" id="country" name="country">
                        <option selected>Select Country</option>
                        {% for country in countries %}
                            <option value="{{ country.code }}">{{ country.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <select class="custom-select my-1 mr-sm-2" id="source" name="source">
                        <option selected>Select Source</option>
                        {% for source in sources %}
                            <option value="{{ source.code }}">{{ source.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3 text-center">
                    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>


    <div class="container">
        <div class="row">
        {% for article in articles %}
            <div class="col-md mb-3">
                <div class="card h-100" style="width: 20rem;">
                <img src="{{ article.urlToImage }}" class="card-img-top" alt="{{ article.source.name }}">
                <div class="card-body">
                  <h5 class="card-title">{{ article.title }}</h5>
                  <p class="card-text">{{ article.description|truncatechars:150 }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Source: {{ article.source.name }}</small>
                    <a class="btn btn-sm btn-outline-success float-right" target="_blank" href="{{ article.url }}"> Read More</a>
                </div>
          </div>
            </div>
        {% endfor%}
        </div>
    </div>

{% endblock content %}
